<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="box">
        <h1 id="heading">About</h1>
        <p>orem ipsum dolor sit amet consectetur adipisicing elit. Iure aspernatur minima ducimus porro earum
            cupiditate, incidunt quos? Cum eligendi deserunt molestiae nisi aliquam facilis saepe, distinctio voluptas,
            dolorem officiis vel!</p>
    </div>
</body>

</html>